.footer {
  overflow: hidden;
  position: relative;
  background-color: #0a2850;
  padding: 60px 80px;
  color: #ffffff;
}

.footer__content {
  margin-bottom: 108px;
  display: flex;
  position: relative;
  justify-content: space-between;
}

.footer__logo {
  position: relative;
  display: flex;
  z-index: 1;
  height: 39px;
  width: 105px;
}

.footer__circle {
  width: 340px;
  height: 340px;
  background-color: #2f80ed;
  border-radius: 50% 50%;
  position: absolute;
  left: -44px;
  top: -128px;
  z-index: 0;
}

.footer__social {
  display: flex;
  margin: 0;
  flex-direction: column;
  justify-content: space-between;
}

.footer__social-heading {
  margin-bottom: 20px;
  font-family: "Inter";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
}

.footer__list {
  display: flex;
  margin: 0;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  list-style-type: none;
  gap: 16px;
}

.footer__list-item {
  display: flex;
  align-items: center;
}

.footer__social-link {
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: #ffffff;
}

.footer__social-link:hover {
  color: #c1c1c1;
}

.footer__social-icon {
  margin-right: 10px;
  width: 16px;
  height: 16px;
}

.footer__copyright {
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}
