.header {
  min-height: 720px;
  max-height: 800px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(/images/background_header.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.header__title-span {
  max-width: 709px;
  position: relative;
  left: 80px;
  line-height: 28px;
  display: block;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 58px;
  line-height: 72px;
  letter-spacing: -1px;
}

.header__title-span_accent {
  display: block;
  color: #2f80ed;
  font-family: "Noto serif", "Times New Roman", serif;
  font-style: italic;
  font-weight: normal;
  font-size: 58px;
  line-height: 72px;
}

.header__description {
  position: relative;
  left: 80px;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  max-width: 683px;
}

.header__image {
  width: 646px;
  height: 568px;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 5px;
  top: 124px;
}

.header__footer {
  width: 100%;
  display: flex;
  margin-top: auto;
  position: relative;
  justify-content: space-between;
}

.header__group {
  position: relative;
  left: 80px;
  bottom: 40px;
}

.header__paragraph {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #6f6f6f;
  margin: 0;
}

.header__address {
  position: relative;
  right: 80px;
}
