.recipes {
  min-height: 720px;
  max-height: 800px;
  height: 100vh;
  background-color: #0a2750;
  display: flex;
  color: #fff;
  flex-direction: column;
  background-image: url(/images/background_recipes.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.recipes__title {
  margin: 0;
  position: relative;
  max-width: 580px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin-top: 100px;
  margin-left: 80px;
}

.recipes__subtitle {
  margin: 24px auto 80px 80px;
  margin-top: 24px;
  display: block;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  max-width: 439px;
}

.recipes__videos {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin: 0 auto;
  list-style: none;
  margin-bottom: 215px;
}

.recipes__video-item {
  display: block;
}

.recipes__iframe {
  width: 480px;
  height: 273px;
  border: none;
}

.recipes__meta {
  display: flex;
  justify-content: space-between;
}

.recipes__name {
}

.recipes__time {
}
