.reservation {
  min-height: 720px;
  max-height: 800px;
  height: 100vh;
  background-color: #d9e7ff;
  background-image: url("/images/background_reservation.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 100px;
}

.reservation__title {
  margin: 0 auto 80px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  text-align: center;
}

.reservation__form {
  display: flex;
  flex-direction: column;
  margin: 0 auto 120px;
  max-width: 385px;
}
