.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Inter", "arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.header {
  min-height: 720px;
  max-height: 800px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(/images/background_header.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.header__title-span {
  max-width: 709px;
  position: relative;
  left: 80px;
  line-height: 28px;
  display: block;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 58px;
  line-height: 72px;
  letter-spacing: -1px;
}

.header__title-span_accent {
  display: block;
  color: #2f80ed;
  font-family: "Noto serif", "Times New Roman", serif;
  font-style: italic;
  font-weight: normal;
  font-size: 58px;
  line-height: 72px;
}

.header__description {
  position: relative;
  left: 80px;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  max-width: 683px;
}

.header__image {
  width: 646px;
  height: 568px;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 5px;
  top: 124px;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav__logo {
  width: 105px;
  height: 39px;
  margin-bottom: 183px;
  position: relative;
  left: 30px;
  top: 30px;
}

.nav__links {
  list-style: none;
  display: flex;
  position: relative;
  right: 80px;
  top: 30px;
  gap: 20px;
}

.nav__link {
  font-family: "inter", "arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
}

.header__footer {
  width: 100%;
  display: flex;
  margin-top: auto;
  position: relative;
  justify-content: space-between;
}

.header__group {
  position: relative;
  left: 80px;
  bottom: 40px;
}

.header__paragraph {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #6f6f6f;
  margin: 0;
}

.header__address {
  position: relative;
  right: 80px;
}

.recipes {
  min-height: 720px;
  max-height: 800px;
  height: 100vh;
  background-color: #0a2750;
  display: flex;
  color: #fff;
  flex-direction: column;
  background-image: url(/images/background_recipes.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.recipes__title {
  margin: 0;
  position: relative;
  max-width: 580px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin-top: 100px;
  margin-left: 80px;
}

.recipes__subtitle {
  margin: 24px auto 80px 80px;
  margin-top: 24px;
  display: block;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  max-width: 439px;
}

.recipes__videos {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin: 0 auto;
  list-style: none;
  margin-bottom: 215px;
}

.recipes__video-item {
  display: block;
}

.recipes__iframe {
  width: 480px;
  height: 273px;
  border: none;
}

.recipes__meta {
  display: flex;
  justify-content: space-between;
}

.recipes__name {
}

.recipes__time {
}

.reservation {
  min-height: 720px;
  max-height: 800px;
  height: 100vh;
  background-color: #d9e7ff;
  background-image: url("/images/background_reservation.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 100px;
}

.reservation__title {
  margin-bottom: 80px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  text-align: center;
}

.reservation__form {
  display: flex;
  flex-direction: column;
  margin: 0 auto 120px;
  max-width: 385px;
}

.form__fieldset {
  display: flex;
  flex-direction: column;
  padding: 0;
  border-style: none;
}

.form__label {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  display: block;
  margin-bottom: 8px;
}

.form__input {
  box-sizing: border-box;
  width: 100%;
  max-width: 385px;
  height: 60px;
  padding: 15px 20px;
  margin-bottom: 32px;
  border-radius: 4px;
  border: 1px solid #838383;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  line-height: 30px;
}

.form__input::placeholder {
  color: #838383;
}

.form__button {
  color: #fff;
  margin-top: 32px;
  display: block;
  width: 100%;
  max-width: 385px;
  height: 60px;
  border-radius: 4px;
  background-color: #2f80ed;
  opacity: 1;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__button:hover {
  opacity: 0.7;
  cursor: pointer;
}

.form__checkbox {
  border-radius: 2px;
  height: 20px;
  width: 20px;
}

.form__label_type_checkbox {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 32px;
}

.form__checkbox:checked {
  background-color: #2f80ed;
  background-image: url(/images/check.svg);
}
